.claude/*
!.claude/commands/
.weave/
.sisyphus/
.coverage
*.dylib.dSYM/
**/target
**/pkg
**/build/
python/bindings/Cargo.lock

/docs/book
**/.venv
**/.ruff_cache
**/__pycache__
*.so
*.dylib
*.pyd
*.swp
*.swo
*~
.DS_Store
.idea/
