.claude/*
!.claude/commands/
.weave/
.sisyphus/
.coverage
*.dylib.dSYM/
**/target
**/pkg
**/build/
python/bindings/Cargo.lock

/docs/book
**/.venv
**/.ruff_cache
**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints
*.so
*.dylib
*.pyd
*.swp
*.swo
*~
.DS_Store
.idea/
rust/tensogram-grib/Cargo.lock
rust/tensogram-netcdf/Cargo.lock
rust/tensogram-wasm/Cargo.lock
