.claude/*
!.claude/commands/
.weave/
.sisyphus/
.coverage
*.dylib.dSYM/
**/target
**/pkg
**/build/
python/**/dist/

/docs/book
**/.venv
**/.ruff_cache
**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints
*.so
*.dylib
*.pyd
*.swp
*.swo
*~
.DS_Store
.idea/

# TODO we may want to actually commit those, but ignoring for now
**/Cargo.lock
**/uv.lock
